<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Test</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="container">
  <fieldset>
    <form action="http://localhost:3000/ps4" method="post">
      <input name="address" type="text" class="ghost-input" placeholder="Enter your address" required>
      <input type="submit" class="ghost-button" value="Get Coordinates">
    </form>
    <%= (typeof coordinates != "undefined" ? coordinates : "") %>
  </fieldset>
</div>
</body>
</html>